/* background image, gradient, color that is darker 
text color is white
main area width
image width



side bar is lighter color than background 
submit button color width etc
saved data font
side bar width 
flex display


font for page
font size 

---extra columns and their respective images 

loading bar */
body{
    color:white;
    
}

.submitBox {
    color: white;
}

.padding {
    padding: 20px;
    margin: 10px;
}

.submitArea {
    background-color: blueviolet;
}

.pictureArea {
    background-color: blue;
}